
@{
    ViewBag.Title = "ThongKeTong";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}
<h2>THỐNG KÊ TỔNG</h2>
<style>
    .list_of_members {
        font-size: 11px;
    }
</style>
<div class="list_of_members">
    <div class="sales">
        <div class="icon" style="font-size:11px;">
            <i class="dollar"></i>
        </div>
        <div class="icon-text">
            <h3>@ViewBag.TongDoanhThu K</h3>
            <p>Tổng Doanh Thu</p>
        </div>
        <div class="clearfix"></div>
    </div>
    <a class="new-users" href="@Url.Action("QuanLiThanhVienAdmin","QuanLiThanhVien")">
        <div class="icon">
            <i class="user1"></i>
        </div>
        <div class="icon-text">
            <h3>@ViewBag.ThongKeThanhVien</h3>
            <p>Thành Viên</p>
        </div>
        <div class="clearfix"></div>
    </a>
    <div class="orders">
        <div class="icon">
            <i class="order"></i>
        </div>
        <div class="icon-text">
            <h3>@ViewBag.ThongKeDonHang</h3>
            <p>Tổng Đơn Hàng</p>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="visitors">
        <div class="icon">
            <i class="visit"></i>
        </div>
        <div class="icon-text">
            <h3>@ViewBag.SoLuongNguoiTruyCap</h3>
            <p>Đang Truy Cập</p>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
</div>


